<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style media="screen">
 .form-body {
   width : 30%;
   margin: 5% 0 0 35%;
   border : 2px solid grey;
   padding: 25px;
   border-radius: 4px;
   background-color: white;
 }
 .form-header{
   margin: 0 0 20px 33%;
 }
 .form-header2{
   margin: 0 0 20px 15%;
   text-decoration: underline;
 }

</style>

<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background-color:#383838">
    <div class="form-body">
      <form class="signup-form" method="POST" action="/user/signUpUser">
      <h3 class="form-header2">Scrap Collection Portal</h3>
      <h1 class="form-header">Signup</h1>

      <div class="form-group">
        <label for="name">Name</label>
        <input name="name" class="form-control" id="name" placeholder="Enter name">
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input name="email" class="form-control" id="email" placeholder="Enter email">
      </div>

      <div class="form-group">
          <label for="gender">Gender</label>
          <select name="gender" class="form-control" id="gender">
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
      </div>

      <div class="form-group">
          <label for="typeOfUser">Type Of User</label>
          <select name="typeOfUser" class="form-control" id="typeOfUser">
            <option>Citizen</option>
            <option>MC</option>
          </select>
      </div>

      <div class="form-group">
          <label for="typeOfMC">Type Of MC</label>
          <select name="typeOfMC" class="form-control" id="typeOfUser">
            <option>Metropolitan</option>
            <option>District</option>
            <option>Local</option>
          </select>
      </div>

      <div class="form-group">
          <label for="city">City</label>
          <select name="city" class="form-control" id="city">
            <option>Delhi</option>
            <option>Mumbai</option>
            <option>Kolkata</option>
            <option>Chandigarh</option>
            <option>Bangalore</option>
          </select>
      </div>

      <div class="form-group">
        <label for="password">Enter password</label>
        <input name="password" class="form-control" id="password" placeholder="Enter password">
      </div>

      <input type="submit" class="btn btn-primary">
      </form>
    </div>
  </body>
</html>
