<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style media="screen">
 .form-body {
   width : 30%;
   margin: 5% 0 0 35%;
   border : 2px solid grey;
   padding: 25px;
   border-radius: 4px;
   background-color: white;
 }
 .form-header{
   margin: 0 0 20px 33%;
 }
</style>

<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background-color:#383838">
    <div class="form-body">
      <form class="signup-form" method="POST" action="/user/signUpUser">
      <h1 class="form-header">Signup</h1>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="name" class="form-control" id="name" placeholder="Enter name">
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>

      <div class="form-group">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender">
            <option>MALE</option>
            <option>FEMALE</option>
            <option>OTHER</option>
          </select>
      </div>

      <div class="form-group">
          <label for="typeofuser">Type Of User</label>
          <select class="form-control" id="typeofuser">
            <option>CITIZEN</option>
            <option>MC</option>
          </select>
      </div>

      <div class="form-group">
        <label for="password">Enter password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password">
      </div>

      <input type="submit" class="btn btn-primary">Register</input>
      </form>
    </div>
  </body>
</html>
